/* Write your CSS here */
.eachappContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  width: 150px;
  height: 200px;
  border: none;
  border-radius: 15px;
  background-color: #ffffff;
  margin: 5px;
}
.appImage {
  width: 80%;
  margin-bottom: 5px;
}
.appname {
  color: #1e293b;
  font-weight: bold;
  font-size: 20px;
  font-family: 'bree serif';
  text-align: center;
}
